
/* Content style */
.Content_Style{
    padding:0px 20px;
 }
 .Page_Section .Page_Content{
    margin:15px 0px;
 }
 .Page_Content .Sub_Content{
    background-color:#fff;
    width:100%;
    height:100px;
    padding:5px;
    display:flex;
    align-items: center;
    position: relative;
    box-shadow: 2px 2px 3px #6c7379;
    outline:none;
 }
 .Page_Content .Sub_Content .image_section{
    margin-left:0px;
    width:85px;
 }
 .Page_Content .Sub_Content .image_section img{
    width:100%;
    height:100%;
 }
 .Page_Content .Sub_Content .Content_Section{
    width:80%;
    font-weight:400;
    color:#516570;
    width:calc(100% - 85px);
 
 }
 .Page_Content .Sub_Content .Content_Section h5{
    line-height:1;
    font-size:13px;
 }
 .Page_Content .Sub_Content span{
    position: absolute;
    top: 5px;
    right: 5px;
 }
 .Page_Content .Sub_Content .settings{
    color: #516570;
    font-size:15px;
    cursor:pointer;
 }
 .Page_Content .Sub_Content .View{
    color: #516570;
    font-size:15px;
    cursor:pointer;
    padding: 0px 5px;
 }

 .btnstyle{
   outline: none;
   border: none;
   margin-top: -12px;
   background-color: #ffffff;
   height: 25px;
   cursor: pointer;
 }


 .mat-card{
   width: 500px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #f0f2f3;
    height: 200px;
}
 
.mat-card-image{
   width: 150px;
   height: 150px;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
} 

.mat-card-header{
   background-color: #ffffff;
}
.mat-card-title{
   font-size: 18px;
   color: #484848;
   font-weight: 550;
   padding-left: -12px;
   margin-left: -45px;
}

.mat-card-content{
   height: 50px;
   position: absolute;
   margin-top: -130px;
   margin-left: 140px;

}




