<app-header></app-header>
<!-- Main Section -->
<div class="Main_Section">
    <div class="container-fluid">
        <!-- page Section -->
        <div class="Page_Section">
            <!-- Page Identity -->
            <div class="Page_Identity">
                <div class="Page_Track">
                    <ul>
                        <li class="HeaderName">CRM</li>
                        <li class="arrow">>></li>
                        <li class="LinkName"><a [routerLink]="['/asset_list']">Assets</a></li>
                        <li class="arrow">>></li>
                        <li>Company Name</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" *ngFor="let item of Assetdetail">
                    <div class="row">
                        <!-- Image section -->
                        <div class="col-sm-2 Image_Section" style=" background-color:#fff; margin-left: 30px; margin-bottom:150px; box-shadow: 1px 1px 10px #d4d4d4;">
                           <div class="row btngroup">
                             <button class="btnstyle">
                                 <span class="material-icons" style="color: #1e3a56; line-height: 1.5;">create</span>
                             </button>
                             <button class="btnstyle">
                                 <span class="material-icons" style="color: #1e3a56; line-height: 1.5;">delete</span>
                             </button>
                           </div>
                           <img src="../../../../../assets/images/basic/company.png" />
                            <div style="margin-top: 15px;">
                              <p>Asset Owner : {{item.Asset_Allocated_Id.Employee_Name}}</p>
                              <p>Asset Type : {{item.Asset_Type_Id.Asset_Type}}</p>
                              <p>Ownership Type : {{item.Ownership_Type_Id.Ownership_Type_Name}}</p>
                              <p>Create By : {{item.Created_By.Name}}</p>
                           </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="Company_Details" style="margin-left: 25px;" >
                                    <div class="row">
                                        <div class="col-sm-12 Form_Select" style="margin-bottom: 15px;">
                                            <h1>Asset Details</h1>
                                            <div class="row">
                                                <p class="col-sm-4" style="margin-left: 15px;">Asset Nick Name : {{item.Asset_Nick_Name}}</p>
                                                <p class="col-sm-4" style="margin-left: 15px;">Serial Number : {{item.Serial_Number}}</p>
                                                <p class="col-sm-3" style="margin-left: 15px;">Asset Code : {{item.Asset_Code}}</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-4" style="margin-left: 15px;">Model : {{item.Model_Id.Model_Name}}</p>
                                                <p class="col-sm-4" style="margin-left: 15px;">Asset Group : {{item.Asset_Group_Id.Asset_Group}}</p>
                                                <p class="col-sm-3" style="margin-left: 15px;">Asset Sub Group : {{item.Asset_Sub_Group_Id.Asset_Sub_Group}}</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-4" style="margin-left: 15px;">Manufacuturer : {{item.AssManufacturer_Id.Manufacturer}}</p>
                                                <p class="col-sm-4" style="margin-left: 15px;">Asset Location : {{item.Location_Id.Location_Name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="Company_Details" style="margin-left: 25px;" *ngFor="let item of Assetdetail">
                                  <div class="row">
                                      <div class="col-sm-12 Form_Select" style="margin-bottom: 15px;">
                                          <h1>Purchase Details</h1>
                                          <div class="row">
                                              <p class="col-sm-4" style="margin-left: 15px;">Price : {{item.Price}}</p>
                                              <p class="col-sm-4" style="margin-left: 15px;">Invoice Number : {{item.Invoice_Number}}</p>
                                              <p class="col-sm-3" style="margin-left: 15px;">Purchase Date : {{item.Purchase_Date | date: 'dd/MM/yyyy'}}</p>
                                          </div>
                                          <div class="row">
                                              <p class="col-sm-4" style="margin-left: 15px;">Vendor Name : {{item.Vendor_Name_Id.Vendor_Name}}</p>
                                              <p class="col-sm-4" style="margin-left: 15px;">Vendor Address : {{item.Vendor_Name_Id.Address}}</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                           <div class="Company_Details" style="margin-left: 25px;" *ngFor="let item of Assetdetail">
                               <div class="row">
                                   <div class="col-sm-12 Form_Select" style="margin-bottom: 15px;">
                                       <h1>Warranty Details</h1>
                                       <div class="row">
                                           <p class="col-sm-4" style="margin-left: 15px;">Warranty period : {{item.Warranty_period}} Months</p>
                                           <p class="col-sm-4" style="margin-left: 15px;">Warranty Start Date : {{item.Warranty_Start_Date | date: 'dd/MM/yyyy'}}</p>
                                           <p class="col-sm-3" style="margin-left: 15px;">Warranty End Date : {{item.Warranty_End_Date | date: 'dd/MM/yyyy'}}</p>
                                       </div>
                                       <div class="row">
                                           <p class="col-sm-4" style="margin-left: 15px;">Warranty Coverage Mode : {{item.Warranty_Coverage_Type}}</p>
                                           <p class="col-sm-4" style="margin-left: 15px;">Maintanance Stratagy: {{item.Maintanance_Stratagy_Id.Mainatanance_Stratagy}}</p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
