<mat-icon class="close-icon-large" (click)="closeModal()">highlight_off</mat-icon>
<form [formGroup]="Form">
   <div class="row">
      <div class="col-md-10">
         <h4 class="section_title">{{headingDisplay}}</h4>
      </div>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="col-sm-12 form-group">
            <mat-form-field class="example-full-width" [floatLabel]="'always'">
               <mat-label class="example-label"> Manufacturer </mat-label>
               <input matInput autofocus formControlName="Manufacturer" required tabindex="1"
                  oninput="this.value = this.value.toUpperCase()">
               <mat-error
                  *ngIf="Form.controls.Manufacturer.errors && Form.controls.Manufacturer.touched">
                  <div *ngIf="Form.controls.Manufacturer.errors.required"> Manufacturer is Required </div>
               </mat-error>
            </mat-form-field>
         </div>

         <div class="col-sm-12 form-group" style="padding-bottom: 30px;">
            <div class="example-full-width">
               <span class="font-style-combo">Asset Group<span class="mandatory-style">*</span></span>
               <ng-select class="custom-dropdown" [items]="assetGroupList" [bindLabel]="'Asset_Group'"
                  formControlName="Asset_Group_Name" [searchable]="true" placeholder="Asset Group"
                  (click)="getAssetGroupList()" (change)="setAssetGroupValue($event)">
               </ng-select>
               <mat-error
               *ngIf="Form.controls.Asset_Group_Name.invalid && Form.controls.Asset_Group_Name.touched">
               <div style="font-size: 11px " *ngIf="Form.controls.Asset_Group_Name.errors.required">
                  Asset Group is Required </div>
             </mat-error>
            </div>
         </div>

      </div>
   </div>

   <div class="Model_Footer" *ngIf="!disableSubmitButton">
      <button mat-raised-button color="primary" [disabled]="Form.invalid" (click)="onSubmit(displayButton)" >
         <span>{{displayButton}}</span>
      </button>
   </div>
</form>