<mat-icon class="close-icon-large" (click)="closeModal()">highlight_off</mat-icon>
<form [formGroup]="Form">
    <div class="row">
       <div class="col-md-10">
          <h4 class="section_title">{{headingDisplay}}</h4>
        </div>
    </div>
    <div class="Model_Body">
 
       <div class="row">
          <div class="col-sm-12 form-group">
             <mat-form-field class="example-full-width" [floatLabel]="'always'">
                <mat-label class="example-label"> Spare Name </mat-label>
                  <input matInput formControlName="Spare_Name" required 
                   oninput="this.value = this.value.toUpperCase()">
                  <mat-error *ngIf="Form.controls.Spare_Name.errors && Form.controls.Spare_Name.touched">
                    <div *ngIf="Form.controls.Spare_Name.errors.required">  Spare Name  is Required </div>
                  </mat-error>
                </mat-form-field>  
          </div>
          <div class="col-sm-12 form-group">
            <div class="example-full-width">
               <span class="font-style-combo">Spare Type<span class="mandatory-style">*</span></span>
               <ng-select class="custom-dropdown" [items]="spareTypeList" [bindLabel]="'Spare_Type'"
                  formControlName="Spare_Type_Name" [searchable]="true"
                  (click)="getSpareTypeList()" (change)="setSpareTypeValue($event)">
               </ng-select>
               <mat-error
               *ngIf="Form.controls.Spare_Type_Name.invalid && Form.controls.Spare_Type_Name.touched">
               <div style="font-size: 11px " *ngIf="Form.controls.Spare_Type_Name.errors.required">
                  Spare Type is Required </div>
             </mat-error>
            </div>
         </div>
         <div class="col-md-12">
            <mat-checkbox [checked]= "true" formControlName="Stocable">Stockable</mat-checkbox>
         </div>
         <div class="col-md-12">
            <mat-checkbox [checked]= "true" formControlName="Purchaseable">Purchaseable</mat-checkbox>
         </div>
         <div class="col-sm-12 form-group">
            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                <mat-label class="example-label"> Description </mat-label>
                <textarea matInput formControlName="Description"
                    oninput="this.value = this.value.toUpperCase()"></textarea>
            </mat-form-field>
        </div>

       </div>
 
    </div>
    <div class="Model_Footer" *ngIf="!disableSubmitButton">
       <button type="submit" (click)="onSubmit(displayButton)" [disabled]="Form.invalid"  mat-raised-button color="primary">
          <span>{{displayButton}}</span>
        </button>
    </div>
 </form>