<mat-icon class="close-icon-large" (click)="closeModal()">highlight_off</mat-icon>
<form [formGroup]="Form">
    <div class="row">
       <div class="col-md-10">
          <h4 class="section_title">{{headingDisplay}}</h4>
        </div>
    </div>
    <div class="Model_Body">
 
       <div class="row">
          <div class="col-sm-12 form-group">
             <mat-form-field class="example-full-width" [floatLabel]="'always'">
                <mat-label class="example-label"> Spare Name </mat-label>
                  <input matInput formControlName="Spare_Name" required 
                   oninput="this.value = this.value.toUpperCase()">
                  <mat-error *ngIf="Form.controls.Spare_Name.errors && Form.controls.Spare_Name.touched">
                    <div *ngIf="Form.controls.Spare_Name.errors.required">  Spare Name  is Required </div>
                  </mat-error>
                </mat-form-field>  
          </div>
          <div class="col-sm-12 form-group">
            <mat-form-field class="example-full-width" [floatLabel]="'always'">
               <mat-label class="example-label"> Spare Type </mat-label>
               <mat-select formControlName="Spare_Type">
                  <mat-option *ngFor="let spareType of spareTypeList" [value]="spareType">
                     {{spareType}}
                  </mat-option>
               </mat-select>
               <mat-error *ngIf="Form.controls.Spare_Type.errors && Form.controls.Spare_Type.touched">
                  <div *ngIf="Form.controls.Spare_Type.errors.required"> Spare Type is Required </div>
               </mat-error>
         </mat-form-field>
         </div>
         <div class="col-md-12">
            <mat-checkbox [checked]= "true" formControlName="stockable">Stockable</mat-checkbox>
         </div>
         <div class="col-md-12">
            <mat-checkbox [checked]= "true" formControlName="purchaseable">Purchaseable</mat-checkbox>
         </div>
         <div class="col-sm-12 form-group">
            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                <mat-label class="example-label"> Description </mat-label>
                <textarea matInput formControlName="description"
                    oninput="this.value = this.value.toUpperCase()"></textarea>
            </mat-form-field>
        </div>

       </div>
 
    </div>
    <div class="Model_Footer">
       <button type="submit" (click)="onSubmit()" [disabled]="disableSubmitButton"  mat-raised-button color="primary">
          <span>{{displayButton}}</span>
        </button>
    </div>
 </form>