<app-header></app-header>
<!-- About Section -->
<div class="about_section">
    <div class="row About_Section">
       <div class="col-sm-6">
          <div class="view_item">
             <div class="Static">
                <div class="Customer_Details_Title">
                   <h5>Customer Name</h5>
                </div>
             </div>
             <div class="dots"> : </div>
             <div class="Data">
                <div class="Customer_Details_Value">
                   <h5>Company Name</h5>
                </div>
             </div>
          </div>
          <div class="view_item">
             <div class="Static">
                <div class="Customer_Details_Title">
                   <h5>E-mail</h5>
                </div>
             </div>
             <div class="dots"> : </div>
             <div class="Data">
                <div class="Customer_Details_Value">
                   <h5>Email</h5>
                </div>
             </div>
          </div>
          <div class="view_item">
             <div class="Static">
                <div class="Customer_Details_Title">
                   <h5>Phone</h5>
                </div>
             </div>
             <div class="dots"> : </div>
             <div class="Data">
                <div class="Customer_Details_Value">
                   <h5>Phone Number</h5>
                </div>
             </div>
          </div>
          <div class="view_item">
             <div class="Static">
                <div class="Customer_Details_Title">
                   <h5>Website</h5>
                </div>
             </div>
             <div class="dots"> : </div>
             <div class="Data">
                <div class="Customer_Details_Value">
                   <h5>Website</h5>
                </div>
             </div>
          </div>
          <div class="view_item">
             <div class="Static">
                <div class="Customer_Details_Title">
                   <h5>Industry Type</h5>
                </div>
             </div>
             <div class="dots"> : </div>
             <div class="Data">
                <div class="Customer_Details_Value">
                   <h5>Industry Type</h5>
                </div>
             </div>
          </div>
          <div class="view_item">
             <div class="Static">
                <div class="Customer_Details_Title">
                   <h5>No of Employees</h5>
                </div>
             </div>
             <div class="dots"> : </div>
             <div class="Data">
                <div class="Customer_Details_Value">
                   <h5>No Of Employee</h5>
                </div>
             </div>
          </div>
          <div class="view_item">
             <div class="Static">
                <div class="Customer_Details_Title">
                   <h5>Credit limit</h5>
                </div>
             </div>
             <div class="dots"> : </div>
             <div class="Data">
                <div class="Customer_Details_Value">
                   <h5>Credit Limit</h5>
                </div>
             </div>
          </div>
          <div class="view_item">
             <div class="Static">
                <div class="Customer_Details_Title">
                   <h5>Notes</h5>
                </div>
             </div>
             <div class="dots"> : </div>
             <div class="Data">
                <div class="Customer_Details_Value">
                   <h5>Notes</h5>
                </div>
             </div>
          </div>
       </div>
       <div class="col-sm-3">
          <div class="Customer_Details_Title">
             <h5>Shipping Address</h5>
          </div>
          <div class="Customer_Details_Value">
             <span> Address</span>           
          </div>  
       </div>
       <div class="col-sm-3">
          <div class="Customer_Details_Title">
             <h5>Billing Address</h5>
          </div>
          <div class="Customer_Details_Value">
            <span> Address</span>
          </div>
       </div>
    </div>
 </div><br>
 <!-- <div class="Image">
    <div class="row Image_Section">
       <div class="col-sm-12">
          <img src="../../../../../../../assets/images/basic/Insight360.png">
       </div>
    </div>
 </div> -->
 
   
 
