<mat-icon class="close-icon-large" (click)="closeModal()">highlight_off</mat-icon>
<form [formGroup]="subGroupForm">
   <div class="row">
      <div class="col-md-10">
         <h4 class="section_title">{{headingDisplay}}</h4>
      </div>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="col-sm-12 form-group">
            <mat-form-field class="example-full-width" [floatLabel]="'always'">
               <mat-label class="example-label"> Sub Group </mat-label>
               <input matInput autofocus formControlName="Asset_Sub_Group" required tabindex="1"
                  oninput="this.value = this.value.toUpperCase()">
               <mat-error
                  *ngIf="subGroupForm.controls.Asset_Sub_Group.errors && subGroupForm.controls.Asset_Sub_Group.touched">
                  <div *ngIf="subGroupForm.controls.Asset_Sub_Group.errors.required"> Sub Group is Required </div>
               </mat-error>
            </mat-form-field>
         </div>
         <div class="col-sm-12 form-group">
            <mat-form-field class="example-full-width" [floatLabel]="'always'">
               <mat-label class="example-label"> Asset Group </mat-label>
               <mat-select (click)="getAssetGroupList()" formControlName="Asset_Group_Id">
                  <mat-option *ngFor="let assetGroup of assetGroupList" [value]="assetGroup._id">
                     {{assetGroup.Asset_Group}}
                  </mat-option>
               </mat-select>
               <mat-error *ngIf="subGroupForm.controls.Asset_Group_Id.errors && subGroupForm.controls.Asset_Group_Id.touched">
                  <div *ngIf="subGroupForm.controls.Asset_Group_Id.errors.required"> Asset Group is Required </div>
               </mat-error>
            </mat-form-field>
         </div>
      </div>
   </div>

   <div class="Model_Footer">
      <button mat-raised-button [disabled]="disableSubmitButton" (click)="onSubmit()" color="primary">
         <span>{{displayButton}}</span>
      </button>
   </div>
</form>