<mat-icon class="close-icon-large" (click)="closeModal()">highlight_off</mat-icon>
<form [formGroup]="Form">
   <div class="row">
      <div class="col-md-10">
         <h4 class="section_title">{{headingDisplay}}</h4>
       </div>
   </div>
   <div class="Model_Body">

      <div class="row">
         <div class="col-sm-12 form-group">
            <mat-form-field class="example-full-width" [floatLabel]="'always'">
               <mat-label class="example-label"> Asset Group </mat-label>
                 <input matInput formControlName="Asset_Group" required 
                  oninput="this.value = this.value.toUpperCase()">
                 <mat-error *ngIf="Form.controls.Asset_Group.errors && Form.controls.Asset_Group.touched">
                   <div *ngIf="Form.controls.Asset_Group.errors.required">  Asset Group  is Required </div>
                 </mat-error>
               </mat-form-field>  
         </div>
         <div class="col-md-10">
            <mat-checkbox formControlName="Spares" [checked]= "true">Spares</mat-checkbox>
         </div>
      </div>

   </div>
   <div class="Model_Footer">
      <button type="submit" [disabled]="disableSubmitButton" (click)="onSubmit()" mat-raised-button color="primary">
         <span>{{displayButton}} </span>
       </button>
   </div>
</form>